/ComputeArea.class
/ComputeAreaWithConsoleInput.class
/ComputeAreaWithConstant.class
/ComputeAverage.class
/ComputeChange.class
/ComputeExpression.class
/ComputeLoan.class
/DisplayTime.class
/FahrenheitToCelsius.class
/SalesTax.class
/ShowCurrentTime.class
/Welcome.class
/WelcomeWithThreeMessages.class
